.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  background-color: #535354;
  border-radius: 4rem;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(231, 151, 238, 0.652);
  transform: translateY(-0.01rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2rem;
  background-color: #bb86fc;
  color: white;
  border-radius: 4rem;
}

.choice-text {
  padding: 1.5rem;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}
.correct {
  background-color: #28a745;
}
.incorrect {
  background-color: #a63d4d;
}

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

.hud-main-text {
  text-align: center;
}

#main-screen {
  margin: 1rem;
}

h2 {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}
h3 {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}
#time-left {
  color: white;
}
a {
  font-family: 'Roboto Condensed', sans-serif;
}
input {
  background-color: #121212;
  text-align: center;
  font-size: larger;
  border-radius: 3rem;
  margin: 1rem;
}
